server:
  port: 8080

spring:
  profiles:
    active: dev   # change to prod on server

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO

jwt:
  secret: portfolio-backend-super-secret-key-123456
  expiration: 86400000



